<!DOCTYPE html>
<html>
<head>
    <title>EMJY'S APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Vous etes sur contact !</h1>


    <a href="/Add_contact">Ajouter un contact</a>
    <p> </p>
    <p> </p>
    <table>
        <tr>
            <th>Nom</th><th>Prénom</th><th>Téléphone</th><th>Email</th><th>Options</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact['nom'] }}</td>
            <td>{{ contact['prenom'] }}</td>
            <td>{{ contact['telephone'] }}</td>
            <td>{{ contact['email'] }}</td>
            <td>
                <a href="{{ url_for('edit', id=contact['id']) }}">Modifier</a>
                <a href="{{ url_for('delete', id=contact['id']) }}">Supprimer</a>
                <a href="{{ url_for('view', id=contact['id']) }}">Voir</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>