<!DOCTYPE html>
<html>
<head>
    <title>Détails Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Détails du contact</h1>

    <div class="container">
        <p><strong>Nom :</strong> {{ contact.nom }}</p>
        <p><strong>Prénom :</strong> {{ contact.prenom }}</p>
        <p><strong>Téléphone :</strong> {{ contact.telephone }}</p>
        <p><strong>Email :</strong> {{ contact.email }}</p>

        <br>
        <a href="/">Retour</a>
    </div>
  
</body>
</html>